<html>
    <head>
    <title>Login</title>
    </head>

    <body>
        <center>Login Page</center>

        <br><br>

        <a href="http://localhost:8000/">Home</a><br><br>
        <a href="http://localhost:8000/about/">About Us</a><br><br>
        <a href="http://localhost:8000/login/">Login</a><br><br>
        <a href="http://localhost:8000/signup/">Signup</a><br><br>
        <a href="http://localhost:8000/contact/">Contact Us</a><br><br>
        <a href="http://localhost:8000/services/">Services</a><br><br>
    </body>

</html>